/* Variables */
:root {
    --white: white;
    --red: red;
    --paddingxs: 2px 5px;
}

/* Generics */
.green {
    color: #4ccb00;
}

.red {
    color: var(--red);
}

body {
    background-color: black;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

.containerd {
    width: 100vw;
}

/* HEADER */
header {
    height: 50px;
    background-color: black;
    line-height: 50px;

}

header div {
    width: 100%;
    top: 10px;
    text-align: right;
}

header span {
    background-color: #4a4a4a;
    padding: var(--paddings);
    border-radius: 5px;
}

/* MAIN */
main {
    height: calc(100vh - 50px - 70px);
    overflow: auto;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

main>.card {
    display: flex;
}

.card {
    width: calc(100% / 7 - 10px);
    position: relative;
    /* background-color: antiquewhite; */
}

.card .user-name {
    position: absolute;
    background-color: rgba(74, 74, 74, 0.5);
    padding: var(--paddingxs);
    font-size: 0.7rem;
    bottom: 5px;
    left: 0;

}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    background-color: #222222;
    justify-content: space-between;
}

.end-meeting {
    background-color: #4a4a4a;
    padding: var(--paddings);
    font-size: .5rem;
    line-height: 50px;
}

footer span {
    font-size: .7rem;
}

.icons {
    margin: 0 10px;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.share-screen {
    color: #4ccb00;
}